
.header {
    position: sticky;
    top:0;
}
body {
    background-image: url(../assets/TableBackg.jpg);
    background-size: cover;
    height: 800px;
}

.pagination li:hover{
    cursor: pointer;
}

table tbody tr {
    display: none;
}

thead {
    background-color: #04AA6D;
    color: white;
  }
